
.searchpage-banner {
  background-color: #F25858;
  color: white;
  text-align: center;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  padding: 50px 5px;

}

.summary {

  margin:10px;
  font-size: 2.2rem;
  line-height: normal;
  font-weight: 900;
}
