<div class="modal-container">
  <a href="#" class="modal-button"><i class="fa fa-sliders" aria-hidden="true"></i>
</a>
</div>


<div id="simple-modal" class="modal-container-background">
  <!-- <div class="modal-popup"> -->
<!--   <span class="close-btn">&times;</span>
  <p>Helloooooooooooooooooooooooo</p> -->


    <form action="/search_attr" method="get">
      <div class="search-attributes modal-popup2">
        <div class="price-range">
          <p>Price range</p>
          <section class="range-slider">
            <input name="query_price1" value="100" min="100" max="10000" step="100" type="range">
            <input name="query_price2" value="10000" min="100" max="10000" step="100" type="range">
            <span class="rangeValues"></span>
          </section>
        </div>

        <div class="rating">
          <p>Rating</p>
          <div class="range">
            <input name="query_rating" type="range" min="1" max="5" steps="1" value="1">
          </div>
          <ul class="range-labels">
            <li class="active">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
          </ul>
        </div>

        <div class="taste">
          <p>Taste</p>
          <div class="range">
            <input name="query_taste" type="range" min="1" max="5" steps="1" value="1">
            </div>
            <ul class="range-labels">
              <li class="active">Sweet</li>
              <li>-</li>
              <li>Neutral</li>
              <li>-</li>
              <li>Dry</li>
            </ul>
        </div>
        <div class="show" style="text-align: center;">
          <input type="submit" value="Show sake" class="btn btn-treehouse">
        </div>
      </div>
    </form>

  <!-- </div> -->
</div>



