
.btn-treehouse {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #F25858;
  transition: background 0.3s ease;
  font-family: Chivo, sans-serif;
}
.btn-treehouse:hover {
  opacity: 0.8;
  background: #F25870;
  text-decoration: none;
  color: white;
}

#hide {
  color: white;
  background: none;
  transition: background 0.3s ease;
  font-family: Chivo, sans-serif;
  border-width: 0px;

}

#show{
  color: white;
  background: none;
  transition: background 0.3s ease;
  font-family: Chivo, sans-serif;
  border-width: 0px;
}
