<!-- NAVBAR -->

  <div class="banner-search" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= asset_path "UnderstandingSake.jpg" %>');">

      <div class="banner-content">
        <h1>Find your Sake bottle with style!</h1>
        <div style="height: 60px; width: 100%; font-size: 30px;" id="typed-content">

        </div>
        <!-- <span id="typed"></span> -->


         <!-- <div class="search-all">
            <a href="#" class="btn btn-treehouse"> Show all sake</a>
          </div> -->

          <div class="search-scan">
           <a href="#barcode-scanner"></a>
            <a href="#" class="btn btn-treehouse"> Scan your bottle </a>

          </div>



           <!--<img src="https://images-eu.ssl-images-amazon.com/images/I/71YFP9NXAsL.png" alt="scan me"> -->

           <div id="barcode-scanner"><video autoplay="true" preload="auto" src=""></video>
           <button id="hide">Hide</button>
           <button id="show">Show</button>
           </div>

      <form action="/search_attr" method="get">
    <div class="search-attributes">

        <div class="price-range">
          <p>Price range</p>
          <section class="range-slider">
            <input name="query_price1" value="100" min="100" max="10000" step="100" type="range">
            <input name="query_price2" value="10000" min="100" max="10000" step="100" type="range">
            <span class="rangeValues"></span>
          </section>
        </div>

        <div class="rating">
          <p>Rating</p>
          <div class="range">
            <input name="query_rating" type="range" min="1" max="5" steps="1" value="1">
          </div>
          <ul class="range-labels">
            <li class="active selected">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
          </ul>
        </div>

        <div class="taste">
          <p>Taste</p>
          <div class="range">
            <input name="query_taste" type="range" min="1" max="5" steps="1" value="1">
            </div>
            <ul class="range-labels">
              <li class="active selected">Sweet</li>
              <li>-</li>
              <li>Neutral</li>
              <li>-</li>
              <li>Dry</li>
            </ul>
        </div>
        <div class="show">
          <input type="submit" value="Show sake" class="btn btn-treehouse">
        </div>


    </div>
      </form>
  </div>
</div>
  <div class="search-selection">  <!-- SELECTION -->

    <div class="container">
    <h3>Discover our selections</h3>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://thepeakmagazine.com.sg/wp-content/uploads/2015/12/111-1194x700.jpg');">
            <div class="card-category">Popular</div>
            <div class="card-description">
              <h2>Pairing sake with Meat</h2>
              <p>Delicious!</p>
            </div>
              <a class="card-link" href="#" ></a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://cdn.shopify.com/s/files/1/0268/7601/files/Top_Ten_Oct_2013.png?7097');">
            <div class="card-category">Halloween</div>
            <div class="card-description">
              <h2>Sake Selections – Boooo!</h2>
              <p>Scary!!</p>
            </div>
              <a class="card-link" href="#" ></a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://japancentre-images.freetls.fastly.net/images/pics/7255/large/original.jpg?1469564421');">
            <div class="card-category">Value for money</div>
            <div class="card-description">
              <h2>Sake selections below ¥1.000</h2>
              <p>Nice deal!</p>
            </div>
              <a class="card-link" href="#" ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="search-selection">

    <div class="container">
    <h3>Popular Sake</h3>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://www.experiencesake.com/images/016-ginjo-sake-10.png');">
            <div class="card-category">¥4.190</div>
            <div class="card-description">
              <h2>Aiyu Daiginjo, 2016 </h2>
              <p>by Aiyu Shuzo Co Ltd.</p>
            </div>
              <a class="card-link" href="#" ></a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://www.experiencesake.com/images/012-junmai-sake-11.png');">
            <div class="card-category">¥3.024</div>
            <div class="card-description">
              <h2>Taiheizan Junmai Daiginjo Yushin, 2016</h2>
              <p>by Kodama Brewing Co Ltd.</p>
            </div>
              <a class="card-link" href="#" ></a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://www.experiencesake.com/images/016-ginjo-sake-09.png');">
            <div class="card-category">¥3.564</div>
            <div class="card-description">
              <h2>Mutsu-Hassen Daiginjo, 2016</h2>
              <p>by Hachinohe Shuzo Co., Ltd.</p>
            </div>
              <a class="card-link" href="#" ></a>
          </div>
        </div>
      </div>
    </div>
  <!-- </div> -->

  </div>
  <!-- <div class="content">
  <a href="#" class=" btn btn-treehouse"> Show sake</a>
  </div> -->
</div>



<!-- 2sliders -->
<script>

  function getVals(){
  // Get slider values
  var parent = this.parentNode;
  var slides = parent.getElementsByTagName("input");
    var slide1 = parseFloat( slides[0].value );
    var slide2 = parseFloat( slides[1].value );
  // Neither slider will clip the other, so make sure we determine which is larger
  if( slide1 > slide2 ){ var tmp = slide2; slide2 = slide1; slide1 = tmp; }

  var displayElement = parent.getElementsByClassName("rangeValues")[0];
      displayElement.innerHTML = "￥" + slide1 + " - ￥" + slide2;
}

window.onload = function(){
  // Initialize Sliders
  var sliderSections = document.getElementsByClassName("range-slider");
      for( var x = 0; x < sliderSections.length; x++ ){
        var sliders = sliderSections[x].getElementsByTagName("input");
        for( var y = 0; y < sliders.length; y++ ){
          if( sliders[y].type ==="range" ){
            sliders[y].oninput = getVals;
            // Manually trigger event first time to display values
            sliders[y].oninput();
          }
        }
      }
}
</script>


<!-- typed.js -->
<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->
<script src="https://unpkg.com/typed.js@2.0.6/lib/typed.js"></script>
<script>
// const options = {
//   strings: ["<i>First</i> sentence.", "&amp; a second sentence."],
//   typeSpeed: 40
// }

const typed = new Typed("#typed-content", {
  strings: ["", "Search by name", "Search by attribute", "Search by photo"],
  typeSpeed: 100,
  smartBackspace: true,
  backSpeed: 100,
  loop: true,
  showCursor: false
});

// const typed = new Typed('.banner-content', {
//   stringsElement: '#typed-content',
//   typeSpeed: 10
// });

// const element = document.querySelector("#typed-content");

</script>


  <!--   <div class="search-scan">
      <a href="#barcode-scanner"></a>
      <div id="barcode-scanner"><video autoplay="true" preload="auto" src=""></video></div>
    </div>

-->

<!-- hide and show scan -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("#hide").click(function(){
        $("video").hide();
    });
    $("#show").click(function(){
        $("video").show();
    });
});
</script>






